/* < Fonts > */

@font-face {
    font-family: 'Abuget';
    font-weight: normal;
    src: url("../assets/Fonts/Abuget.ttf");
}

@font-face {
    font-family: 'Akkurat';
    src: url("../assets/Fonts/Akkurat.ttf");
}

@font-face {
	font-family: 'Akkurat-Bold';
	font-weight: normal;
	src: url("../assets/Fonts/Akkurat-Bold.ttf");
}

@font-face {
	font-family: 'PetitSerif';
	font-weight: normal;
	src: url("../assets/Fonts/PetitSerifTrial-Regular.otf");
}

@font-face {
	font-family: 'MaisonNeue';
	font-weight: normal;
	src: url("../assets/Fonts/MaisonNeue-Book.otf");
}

@font-face {
	font-family: 'MaisonNeue-Demi';
	font-weight: normal;
	src: url("../assets/Fonts/MaisonNeue-Demi.otf");
}

/* < Colors > */

.navy {

	background-color: #1d2942;
}

.orange {

	background-color: #fec542;
}

/* <Background Images > */

.content-container .image-block#bottle-on-stand {
	background: url("../assets/Background/artet_001.jpg") center center / cover no-repeat;
}

.content-container .image-block#bottle-on-stone {
	background: url("../assets/Background/artet_002.jpg") center center / cover no-repeat;
}

.content-container .row.landing-block {
	background-color: #1d2942;
}

.content-container .row.text-block-right.panel-3 {
	background-color: #1c2942;
}

.content-container .row.text-block-right.panel-3 .animation-container {
	background: url("../assets/PNG/Background/Panel_03_BG.png") 40% center / contain no-repeat;
	background-attachment: static;
}

.content-container .row.panel-4 {
	background: url("../assets/Background/artet_003.jpg") center 90% / cover no-repeat;
}

.content-container .row.text-block-left.panel-5 {
	background: url("../assets/PNG/Background/Panel_02_BG.png") center center / cover no-repeat;
	background-attachment: static;
}

.content-container .row.text-block-left.panel-7 {
	background-color: #154c80;
}

/* STYLES */

body {
	background-color: transparent;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
}

h1 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
}

.position-indicator {

	visibility: hidden;

	position: fixed;

	width: 19.082px;
	height: 337.371px;

	right: 50px;
	top: 50vh;
  transform: translateY(-50%);

	background-image: url("../assets/PNG/2x/position-indicator-1@2x.png");
	background-size: contain;
	background-repeat: no-repeat;

	z-index: 10;

	transition: transform 0.5s;
}

.content-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.content-container .row {
	display: flex;
	width: 100vw;
}

.content-container .row.landing-block {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.landing-text-container {
	text-align: center;
	width: 618px;
	z-index: 100;
}

a {
	color: #fcf6e3;
	clear: both;
}

a:visited {
	color: #fcf6e3;
}

/* LANDING BLOCK */

.landing-block .background-design {
	position: relative;

	left: 50vw;
	top: 50vh;
	transform: translate(-50%,-50%);

	width: 67%;
}

.landing-block .background-design .background-img {
	position: absolute;

	left: 20%;
	top: 33%;
}

.landing-block .background-design #img-left {
	transform: translate(-45%,-63%);
	width: 130%;
}

.landing-block .background-design #img-right {
	transform: translate(-26%,-50%);
	opacity: 0.5;
	width: 90%;
}

img#artet-cannabis-aperitif {
	width: 174px; 
	height: auto;
}

.landing-text-container p {
	font-family: 'Abuget';
	color: #f9f3e0;
	font-size: 56pt;
	line-height: 1.2;
}

img#scroll-to-discover-mobile {
	display: none;
}

/* IMAGE BLOCKS */

.content-container .image-block {
	height: 100vh;
}

.image-block .image-block-cover {
	display: block;
	position: fixed;

	max-width: 100%;
	height: 100vh;
}

/* IMAGE POSITIONS */

/* TEXT BLOCKS */

.text-block {
	display: flex;
}

.text-block-right {
	padding-right: -15%;
}
.text-block-right .text-container {
	margin-right: 15%;
}
.text-block-left {
	padding-left: -15%;
}
.text-block-left .text-container {
	margin-left: 15%;
}

.text-container {
	display: flex;
	align-items: center;
	flex: 1;
}

.text-box.white h1, .text-box.white p, .learn-more-text-box.white h2  {
	color: #fcf6e3;
}

.text-box.blue h1, .text-box.blue p {
	color: #1a2943;
}

.text-box {
	display: flex;
	flex-direction: column;
}

.text-box h1 {
	font-family: 'Abuget';
	font-size: 48pt;
}

.text-box p {
	font-family: 'Akkurat';
	font-size: 12pt;
	line-height: 1.6;

	padding-top: 10px;
}

.learn-more-text-box h2 {
	font-family: 'PetitSerif';
	font-size: 12pt;
	letter-spacing: 0.2em;

	line-height: 2;
	text-align: center;
}

.text-box {
	width: 308px;
	height: 260px;
}


/* panel-3 */

.panel-3 .animation-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.panel-3 .animation-container-relative {
	width: 100%;
	max-width: 533px;
}

.panel-3 .animation-box {
	position: relative;
	height: 0;
	padding-top: 114%;
}

.panel-3 .animation-items {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: grid;

	grid-template-columns: 13% 26% 6% 11% 19% 4% 21%;
	grid-template-rows: 41% 34% 3% 11% 6% 5%;
}

#panel-3-animation-items {
	perspective: 40px;
}

.panel-3 #bottle-container {
	position: relative;

	grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;

	transition: transform 0.5s;
	transform-style: preserve-3d;

	perspective: 80px;
}

.panel-3 #bottle {
	position: absolute;
	z-index: 1;

	max-width: 180px;
	max-height: 100%;

	transition: transform 0.5s;
}

.panel-3 #peel-container {
	position: relative;

	grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;
}

.panel-3 #peel {
	position: absolute;

	max-width: 134px;
	max-height: 100%;

	z-index: 0;

	transition: transform 0.5s;
}

.panel-3 #coup-and-lemon {
	position: relative;

	grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 6;

	perspective: 60px;

	transition: transform 0.5s;
}

.panel-3 #coup {
	position: absolute;

	max-width: 92%;
	max-height: 100%;

	bottom: 0;
	right: 0;

	z-index: 2;
}

.panel-3 #lemon {
	position: absolute;

	max-width: 37%;
	max-height: 48px;

	top: 0;
	left: 0;

	z-index: 2;
}

.panel-3 #juniper-container {
	position: relative;

	grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 7;
}

.panel-3 #juniper {
	position: absolute;

	max-width: 207px;
	max-height: 100%;

	z-index: 3;

	transition: transform 0.5s;
} 

/* panel-4 */

.panel-4 .text-container-top {
	display: flex;
    align-items: flex-start;
	flex: 1;
	
	margin-left: 5vw;
    margin-top: 5vh;
}

.panel-4 .text-box p {
	font-family: 'MaisonNeue';
}

.dosing-container {
	display: flex;
	position: relative;
	flex: 1;
}

.dose {
	position: absolute;
	width: 155px;
	border-left: 0.5pt solid #fdf7e4;
	padding-left: 20px;
}

.dose.single-dose {
	height: 250px;
	bottom: 40%;
	left: 5%;
}

.dose.double-dose {
	height: 200px;
	bottom: 70%;
	left: 49%;
}

.dose .dose-text p {
	font-size: 11pt;
	color: #FCF7E4;
	font-family: 'MaisonNeue';
}

#dose-amount {
	font-size: 11pt;
	color: #FCF7E4;
	font-family: 'MaisonNeue-Demi';
}

/* mobile phones portrait */
@media only screen and (max-device-width: 767px) and (orientation: portrait) {
	.dosing-container {
		flex-direction: column;
	}

	.content-container .row.panel-4 {
		background: url("../assets/Background/artet_003.jpg") 92% 90% / cover no-repeat;
	}

	.panel-4 .text-container-top .text-box h1 {
		font-size: 12.5vw;
	}

	.panel-4 .text-box p {
		font-size: 3.5vw;
    	line-height: 1.4;
	}

	.dose .dose-text p {
		font-size: 3.5vw;
	}
	
	#dose-amount {
		font-size: 3.5vw;
	}

	.dose.single-dose {
		height: 70%;
		bottom: 16%;
		left: 13%;
		width: 27%;
	}
	
	.dose.double-dose {
		height: 50%;
		bottom: 96%;
		left: 58%;
		width: 27%;
	}
}

/* panel-5 */

.panel-5 .animation-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.panel-5 .animation-container-relative {
	width: 88%;
	max-width: 721px;
}

.panel-5 .animation-box {
	position: relative;
	height: 0;
	padding-top: 94%;
}

.panel-5 .animation-items {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: grid;

	grid-template-columns: 3% 24% 17% 9% 26% 21%;
	grid-template-rows: 19% 9% 62% 4% 3% 3%;
}

.panel-5 #bottle-spritz-and-shape {
	grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}

.panel-5 #bottle-spritz {
	position: absolute;

	max-width: 337px;
	max-height: 98%;

	margin-left: 5%;

	z-index: 3;
}

.panel-5 #shape {
	position: absolute;

	max-width: 43%;
	height: 19%;

	top: 23%;
}

.panel-5 #plant-and-rock-glass {
	position: relative;

	grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}

.panel-5 #plant {
	position: absolute;

	max-width: 275px;
	max-height: 100%;
}

.panel-5 #rock-glass {
	position: absolute;

	max-width: 52%;
	max-height: 100%;

	z-index: 1;

	bottom: 0;
	right: 0;
}

.panel-5 #highball-tonic { 

	position: absolute;
	bottom: 0;

	grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
	grid-row-end: 5;
	
	max-width: 280px;
	max-height: 100%;

	z-index: 1;
}

.panel-5 #shadow { 
	grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
	grid-row-end: 7;
	
	max-width: 100%;
	max-height: 107%;

	z-index: 0;
}

/* panel-7 */

.panel-7 {
	flex-direction: column;
}

.panel-7 .panel-content-container {
	display: flex;
	width: 100vw;
	height: calc(100% - 100px);
}

.panel-7 .animation-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.panel-7 .animation-container-relative {
	margin-left: 15%;
	width: 25vw;
	max-width: 451px;
}

.panel-7 .animation-box {
	position: relative;
	height: 0;
	padding-top: 137%;
}

.panel-7 .animation-items {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: grid;

	grid-template-columns: 15% 22% 5% 14% 4% 6% 9% 25%;
	grid-template-rows: 7% 9% 7% 16% 11% 6% 5% 39%;
}

.panel-7 #hand-container {
	position: relative;

	grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 8;
	grid-row-end: 9;

	bottom: 10%;
}

.panel-7 #hand {
	position: absolute;

	max-width: 100%;

	z-index: 1;
}

.panel-7 #tray-container {
	position: relative;

	grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 6;
	grid-row-end: 8;
}

.panel-7 #tray {
	position: absolute;

	max-width: 439px;
	max-height: 100%;

	z-index: 2;
}

.panel-7 #orange-container {
	position: relative;

	grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
	grid-row-end: 7;

	z-index: 3;
}

.panel-7 #orange {

	max-width: 104px;
	max-height: 100%;

	z-index: 3;
}

.panel-7 #bottle-container {
	position: relative;

	grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 4;
	grid-row-end: 5;

	top: 4%;
}

.panel-7 #bottle-7 {
	position: absolute;

	max-width: 272px;
	max-height: 100%;

	z-index: 2;
}

.panel-7 #coup-container {
	position: relative;

	grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
	grid-row-end: 4;
}

.panel-7 #coup-7 {
	position: absolute;

	max-width: 83px;
	max-height: 100%;

	z-index: 2;

	top: 4%;
}

.panel-7 #rock-container {
	position: relative;

	grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
	grid-row-end: 4;
}

.panel-7 #rock {
	position: absolute;

	max-width: 46px;
	max-height: 100%;

	z-index: 2;

	top: 8%;
}

.panel-7 #lime-container {
	position: relative;

	grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
	grid-row-end: 2;

	top: 8%;
}

.panel-7 #lime {
	position: absolute;

	max-width: 81px;
	max-height: 100%;

	z-index: 2;
}

/* Panel 6 */

.row.panel-6 {
	background-color: #3e8988;
	flex-direction: column;
	justify-content: center;
}

.row.panel-6 .text-container-full {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 100%;

	color: #fdf7e4;
}

.panel-6 .info-text h1 {
	font-family: 'Abuget';
	font-size: 48pt;
	margin-bottom: 5%;
}

.row.panel-6 .text-container-full .info-text {
	max-width: 475px;
	text-align: center;
}

.row.panel-6 .text-container-full .info-text p {
	font-family: 'Akkurat';
	font-size: 12pt;
	line-height: 1.6;
}

.row.panel-6 .text-container-full .info-text p a {
	font-family: 'Akkurat';
	font-size: 12pt;
	line-height: 1.6;
	text-decoration: none;
}

/* ANIMATION CONTAINER */
.animation-container {
	position: relative;

	flex: 2;
}

.animation-items {
	height: 100vh;
}

.learn-more-text-box {
	width: 445px;
}

#panel-3-ac-bg {
	display: none;
}

.footer {
	height: 100px;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: #1d2942;
	z-index: 1000;
}

.footer .text-and-email {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.footer .text-and-email p {
	font-family: 'PetitSerif';
	font-size: 14px;
	letter-spacing: 0.2em;
	color: #fdf7e4;
}

.footer .text-and-email a {
	font-family: 'PetitSerif';
	font-size: 14px;
	letter-spacing: 0.2em;
	color: #fdf7e4;
	text-decoration: none;
}

.footer .form-group {
	display: flex;
}

.footer input {
	height: 50px;
	color: #fdf7e4;
	font-family: 'PetitSerif';
	letter-spacing: 0.2em;
	font-size: 1vw;
	border-radius: unset;

	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 5%;

	display: inline-block;
	border-radius: 0;
	-webkit-appearance: none;
}

.submit::-moz-focus-inner { 
	border: 0;
}

.footer input::placeholder {
	color: #fdf7e4;
}

.footer .email-form-container input {
	border: 1px solid #fdf7e4;
	background-color: transparent;

	width: 20vw;
}

.footer .submit-button-container input {
	border-right: 1px solid #fdf7e4;
	border-top: 1px solid #fdf7e4;
	border-bottom: 1px solid #fdf7e4;
	border-left: none;
	background-color: transparent;

	width: 10vw;
	height: 100%;
}

.footer .success {
	color: #fdf7e4;
	font-family: 'PetitSerif';
}


/* MEDIA QUERIES */

/* iPads Our Commitment Page */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

	.row.panel-6 .text-container-full .info-text {
		max-width: 75%;
	}

	.panel-6 .info-text h1 {
		font-size: 12vw;
	}

	.row.panel-6 .text-container-full .info-text p {
		font-size: 3.2vw;
	}
	.row.panel-6 .text-container-full .info-text p a {
		font-size: 3.2vw;
	}

	.panel-7 .animation-container-relative {
		width: 80%;
		max-width: 451px;
	}
	
	.learn-more-text-box h2 {
		font-size: 4vw;
	}

	.panel-7 .learn-more-text-box {
		width: 100%;
	}

	.panel-7 .animation-container {
		padding: 10% 21% 0 21%;
	}

}

/* mobile phones landscape */
@media only screen and (max-device-width: 767px) and (orientation: landscape) {

	.panel-7 .learn-more-text-box {
		width: 100%;
	}

	.panel-7 .learn-more-text-box h2 {
		font-size: 1.3vw;
	}

	.footer .text-and-email p { 
		font-size: 1.3vw;
	}

	.footer .text-and-email a {
		font-size: 1.3vw;
	}

	.footer input {
		height: 40px;
	}

	.footer {
		justify-content: flex-end;
	}

}

/* mobile phones portrait */
@media only screen and (max-device-width: 767px) and (orientation: portrait) {
	.panel-7 .animation-container {
		height: 40%;
		padding: 10% 17% 0 17%;
	}

	.row.panel-6 .text-container-full .info-text {
		max-width: 75%;
	}

	.panel-6 .info-text h1 {
		font-size: 12vw;
	}

	.row.panel-6 .text-container-full .info-text p {
		font-size: 3.2vw;
	}
	.row.panel-6 .text-container-full .info-text p a {
		font-size: 3.2vw;
	}

}

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) and (orientation: portrait) {

	.content-container .row.text-block-right.panel-3 {
		background-image: none;
		background-color: #1d2942;
	}

	.row {
		flex-direction: column;
	}

	.text-block-right .text-container, .text-block-left .text-container {
		margin: 5% 0 0 0;
		justify-content: center;
	}

	.landing-text-container {
		width: 75%;
	}
	
	.landing-text-container p {
		font-size: 13vw;
	}

	img#artet-cannabis-aperitif {
		width: 34%;
	}

	img#scroll-to-discover {
		display: none;
	}
	
	img#scroll-to-discover-mobile {
		display: block;

		width: 47%;
    height: auto;
	}

	.text-container {
		order: 1;
		flex: 1;
		height: 40%;
	}

	.animation-container {
		order: 2;
		height: 60%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3% 10% 10% 10%;
	}

	.animation-items {
		height: 100%;
	}

	.text-box {
		max-width: 75%;
		width: unset;
		height: auto;
	}

	.text-block .text-container .text-box h1 {
		font-size: 12.5vw;
	}

	.text-block .text-container .text-box p {
		font-size: 3.5vw;
		line-height: 1.4;
	}

	#panel-3-ac-bg {
		display: block;
	}

	.panel-7 .animation-container-relative {
		width: 50vw;
	}
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 900px) 
									 and (orientation: landscape) {

	.landing-text-container {
		max-height: 100%;
		width: 75%;
	}

	.landing-text-container p {
		font-size: 8vw;
	}					

	img#scroll-to-discover {
		display: none;
	}	

	.landing-block img#scroll-to-discover-mobile {
		display: block;
		width: 30%;
	}

	.text-block-left .text-container {
		margin-left: 8%;
	}
}

/* ANIMATIONS */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top-fast {
	-webkit-animation: slide-in-top 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top-slow {
	-webkit-animation: slide-in-top 1.85s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.85s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
	-webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-in-right-mobile {
	-webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
	        animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-in-left-mobile {
	-webkit-animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
	        animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}


/* SCROLL */

body {
	overflow: hidden;
	position: fixed;
}

.content-container {
	position: relative;
	overflow: hidden;
	transition: 1500ms cubic-bezier(0.5, 0, 0.5, 1);
}

.top {
	position: relative;
	top: -.2em;
	align-self: flex-start;
}

.row {
	overflow: hidden;
	cursor: default;
}

/* AGE VERIFICATION */

.age-verification {

	position: absolute;
	overflow: hidden;

	background-color: #1d2942;
	z-index: 10;

	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.age-verification .wing {
	height: 450px;
}

.age-verification .left-wing {
	transform: translate(55%, 5%);
}

.age-verification .right-wing {
	transform: translate(-55%, 5%);
}

.age-verification .content-box {
	background-color: #1d2942;
	width: 365px;
	height: 380px;
	max-height: 100%;

	font-family: 'PetitSerif';
	color: #f7f1de;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	padding: 40px 40px 0 40px;

	border-right: 1px solid #f7f1de;
	border-left: 1px solid #f7f1de;
}

.age-verification .content-box .logo img {
		width: 174px; 
		height: auto;
}

.age-verification .content-box .text-and-buttons {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex: 2;
	width: 340px;
}

.age-verification .content-box p {
	text-align: center;
	font-size: 9pt;
	line-height: 2.5;
	letter-spacing: 0.2em;
}

.age-verification .content-box .text-and-buttons .buttons {
	display: flex;
	justify-content: space-between;
}

.age-verification .content-box .text-and-buttons .buttons button {
	width: 150px;
	height: 38px;

	background-color: transparent;
	color: #f7f1de;
	font-family: 'PetitSerif';
	letter-spacing: 0.2em;

  border: 1px solid #f7f1de;
}

.age-verification .content-box .text-and-buttons .buttons button:hover {
	background-color: #f7f1de;
	color: #1d2942;
}

@media only screen and (min-device-width: 320px) 
                   and (max-device-width: 900px) 
									 and (orientation: portrait) {

	.age-verification .content-box {
		width: 90%;	
	}

	.age-verification .content-box .text-and-buttons {
		width: 100%;
		padding-top: 5%;
	}

	.age-verification .content-box .text-and-buttons p {
		font-size: 8pt;
		padding-bottom: 5%;
	}

	.age-verification .content-box .text-and-buttons .buttons {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.age-verification .content-box .text-and-buttons .buttons button {
		margin-bottom: 10%;
	}

	.age-verification .content-box .logo img {
		height: auto;
	}							
}

/* MOBILE UNSET */

@media only screen and (min-device-width: 320px) 
                   and (max-device-width: 900px) 
									 and (orientation: portrait) {

	.position-indicator {
		display: none;	
	}

	.footer {
		height: 25vh;
		flex-direction: column;
	}

	.panel-7 .panel-content-container {
		flex-direction: column;
		height: calc(100% - 25vh);
	}
	
	.footer .text-and-email {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		height: 50%;
	}

	.footer .email-form-container {
		height: 40%;
	}

	.footer input {
		font-size: 2vw;
	}

	.footer .submit-button-container input {
		height: 100%;
	}
	
	.footer .email-form-container input {	
		width: 60vw;
	}
	
	.footer .submit-button-container input {	
		width: 30vw;
	}
}

@media only screen and (min-device-width: 320px) 
                   and (max-device-width: 1366px) 
									 and (orientation: landscape) {
	.position-indicator {
		display: none;	
	}
}

@media only screen and (min-device-width: 320px) 
                   and (max-device-width: 1024px) 
									 and (orientation: portrait) {
	.position-indicator {
		display: none;	
	}
}